<ul class="breadcrumb">
	<li>
		<a href="index">Home</a> <span class="divider">/</span>
	</li>
	<li>
		<a href="room?id=<%= patientDetails.idPiece %>">Chambre</a> <span class="divider">/</span>
	</li>
	<li class="active">
		<a href="#">Patient</a>
	</li>
</ul>

<div class="hero-unit">
<h2>Patient : <%= patientDetails.nom %></h2>
<p>
	<span class="label"><%= patientDetails.isMan ? "Homme" : "Femme" %></span>
	<span class="label label-info"><%= patientDetails.raisonHospitalisation %></span>
</p>

<hr />

<h3>Liste des mesures du patient</h3>
<table class="table table-condensed">
    <thead>
        <tr>
        <th>Mesure</th>
        <th>Valeur</th>
        <th>Historique</th>
        </tr>
    </thead>
    <tbody>
    	<% measures.forEach(function(measure){ %>
        <tr>
        <td><i class="icon-signal"></i>&nbsp;<span class="label label-info"><%= measure.name %></span>&nbsp;Capteur N°<%= measure.sensorId %></td>
        <td><span class="measure" id="measure_<%= measure.sensorId %>_<%= measure.recordType %>">0</span></td>
        <td><a data-toggle="modal" href="#histoModal" class="histo btn btn-info" id="histo_<%= measure.sensorId %>_<%= measure.recordType %>">Voir l'historique</a></td>
        </tr>
        <% }) %>
    </tbody>
</table>
<div class="row">
		<div class="span2 offset7">
			<a class="btn btn-primary" data-toggle="modal" href="#addModal">
				Ajouter Capteur Patient
			</a>
		</div>
	</div>
</div>

<div class="modal hide fade" id="addModal">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Ajout Capteur</h3>
	</div>
	<div class="modal-body">
	   <form class="form-horizontal" method="get" action="add_sensor_patient">
			<fieldset>
			<div class="control-group">
				<label class="control-label" for="input01">Id Capteur</label>
			<div class="controls">
			<input type="hidden" name="id" value="<%= patientDetails.id %>" />
			<input type="text" name="sensorId" class="input-xlarge" id="input01" />
				<p class="help-block">(ex: 1048577)</p>
			</div>
			</div>
			<div class="control-group">
            <label class="control-label" for="select01">Type Capteur</label>
            <div class="controls">
              <select name="sensorType" id="select01">
                <%for( var type in typeLabels){%>
					<option value="<%=type %>"><%= typeLabels[type] %></option>
                <%}%>
              </select>
			  <p class="help-block">(ex: Temperature)</p>
				</div>
			  </div>
			</fieldset>
			<div class="modal-footer">
				<input type="submit" class="btn btn-primary" value="Ajouter"/>
				<a href="#" class="btn" data-dismiss="modal">Close</a>
			</div>
	  </form>
	</div>
</div>

<div class="modal hide fade" id="histoModal">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Historique</h3>
	</div>
	<div class="modal-body" id="divHisto">Chargement...</div>
	<div class="modal-footer">
		<input type="submit" class="btn btn-primary" value="Ajouter"/>
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
</div>
