<div class="hero-unit">

<div class="row">
		<h2 class="span2">Règles</h2>
		<div class="span2">
			<a class="btn btn-primary" data-toggle="modal" href="#myModal">
				Ajouter des règles
			</a>
		</div>
</div>

<p></p>

<div class="accordion" id="accordion2">
	<% rules.forEach(function(rule){ %>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#<%= rule.id%>">
                  #<%= rule.id%> - <%= rule.nom %>
                </a>
              </div>
              <div id="<%= rule.id%>" class="accordion-body collapse">
                <div class="accordion-inner">
				
				<div class="row">
                  <table class="table table-condensed span5">
					  <caption>Capteurs associés</caption>
						<thead>
							<tr>
							<th>Id</th>
							<th>Type mesure</th>
							<th>Début intervalle</th>
							<th>Fin intervalle</th>
							</tr>
						</thead>
						<tbody>
							<% rulesSensors.forEach(function(ruleSensor){ 
								if (ruleSensor.idRegle == rule.id) {
								%>
							<tr>
							<td><i class="icon-ok-sign"></i>&nbsp;<%= ruleSensor.id %></span></td>
							<td><%= ruleSensor.typeMesure %></td>
							<td><%= ruleSensor.debutIntervalle %></td>
							<td><%= ruleSensor.finIntervalle %></td>
							</tr>
							<% 
								}
							}) %>
						</tbody>
					</table>
					
					<table class="table table-condensed span5">
						<caption>Actionneurs associés</caption>
						<thead>
							<tr>
							<th>Id</th>
							<th>Valeur</th>
							<th>isActive</th>
							</tr>
						</thead>
						<tbody>
							<% rulesActuators.forEach(function(ruleActuator){ 
								if (ruleActuator.idRegle == rule.id) {
								%>
							<tr>
							<td><i class="icon-ok-sign"></i>&nbsp;<%= ruleActuator.id %></td>
							<td><%= ruleActuator.valeur %></td>
							<td><%= ruleActuator.isActive %></td>
							</tr>
							<% 
								}
							}) %>
						</tbody>
					</table>
					</div>
					
                </div>
              </div>
            </div>
     <% }) %>
</div>

</div>

<div class="modal hide fade" id="myModal">
	<div class="modal-header">
	<a class="close" data-dismiss="modal">×</a>
	<h3>Ajout Règle</h3>
	</div>
	<div class="modal-body">
	   <form class="form-horizontal" method="get" action="add_rule">
			<fieldset>
			<legend>Description</legend>
			<div class="control-group">
            <label class="control-label" for="select01">Nom</label>
            <div class="controls">
			  <input type="hidden" name="createsAlert" value="1"/>
              <input type="text" name="nom" class="input-xlarge" id="input01"/>
			  <p class="help-block">Ex: Règle Chauffage Chambre 211 <br/> (Modification si existant)</p>
				</div>
			  </div>
			  </fieldset>
			  <fieldset>
			  <legend>Capteur</legend>
			  <div class="control-group">
            <label class="control-label" for="select01">ID Capteur</label>
            <div class="controls">
              <select name="idCapteur" id="select01">
                <%sensors.forEach(function(sensor){%>
					<option value="<%=sensor.id %>"><%= sensor.id %></option>
                <%})%>
              </select>
			  <p class="help-block">(ex: 101)</p>
				</div>
			  </div>
			  
			  <div class="control-group">
            <label class="control-label" for="select01">Type de mesure</label>
            <div class="controls">
              <input type="text" name="typeMesure" class="input-xlarge" id="input01"/>
			  <p class="help-block">Ex: 2</p>
				</div>
			  </div>
			  
			  <div class="control-group">
            <label class="control-label" for="select01">Debut Intervalle</label>
            <div class="controls">
              <input type="text" name="debIT" class="input-xlarge" id="input01"/>
			  <p class="help-block">Ex: 0</p>
				</div>
			  </div>
			  <div class="control-group">
            <label class="control-label" for="select01">Fin Intervalle</label>
            <div class="controls">
              <input type="text" name="finIT" class="input-xlarge" id="input01"/>
			  <p class="help-block">Ex: 18</p>
				</div>
			  </div>
			</fieldset>
			<fieldset>
			  <legend>Actionneur</legend>
			<div class="control-group">
            <label class="control-label" for="select01">Id</label>
            
            <div class="controls">
              <select name="idActionneur" id="select01">
                <%actuators.forEach(function(actuator){%>
					<option value="<%=actuator.id %>"><%= actuator.id %></option>
                <%})%>
              </select>
			  <p class="help-block">(ex: 1)</p>
				</div>
			  </div>

			  <div class="control-group">
            <label class="control-label" for="select01">Valeur</label>
            <div class="controls">
			  <input type="hidden" name="isActive" value="1"/>
              <input type="text" name="valeur" class="input-xlarge" id="input01"/>
			  <p class="help-block">Ex: 42</p>
				</div>
			  </div>
			</fieldset>
			<div class="modal-footer">
			<input type="submit" class="btn btn-primary" value="Ajouter"/>
			<a href="#" class="btn" data-dismiss="modal">Close</a>
			</div>
	  </form>
	</div>
</div>
